.Rproj.user
.Rhistory
.RData
.Ruserdata
QFeaturesGUI.Rproj
inst/doc
.Rdata
.httr-oauth
.DS_Store
docs
/doc/
/Meta/
TODO
.vscode/settings.json
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
